<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Image</ion-label>
        <ion-input type="text" [(ngModel)]="types.imageUrl"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="types.name"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-text-center ion-padding-top">
      <ion-button expand="block" color="secondary" (click)="add()">Add</ion-button>
    </div>
  </div>
</ion-content>
