<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="type">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Types</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pokemon">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Pokédex</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="abilities">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Abilities</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="people"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
