<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h2>Welcome to Pokédex</h2>
    <p>Start your journey to become a Pokémon Master!</p>
    
    <h3>Discover Pokémon</h3>
    <p>Explore our extensive database of Pokémon. Catch 'em all and complete your Pokédex!</p>
    
    <h3>Explore Abilities</h3>
    <p>Learn about different abilities that Pokémon can possess. Discover their effects and how they can enhance battles.</p>
    
    <h3>Learn Types</h3>
    <p>Understand the various types of Pokémon and their strengths and weaknesses. Master type matchups to gain an advantage in battles.</p>
    
    <ion-button expand="block" color="secondary" routerLink="/pokemon">
      View Pokemon
    </ion-button>
  </div>
</ion-content>
